/* app css stylesheet */
.nav a em {
  text-decoration: underline;
  font-style: normal;
}

.btn:focus  {
  background-color: #8aba17;
}
.btn-primary:focus {
  background-color: #8aba17;
}

legend small {
  font-size: 1em;
  font-style: normal;
}