<form novalidate class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="customer_number">Kundennummer</label>
    <div class="controls">
      <input type="text" id="customer_number" placeholder="Kundennummer" ng-model="customer.number">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="group_number">Konzernnummer</label>
    <div class="controls">
      <input type="text" id="group_number" placeholder="Konzernnummer" ng-model="customer.group_number">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="name">Name</label>
    <div class="controls">
      <input type="text" id="name" placeholder="Name" ng-model="customer.name">
    </div>
  </div>

  <button ng-click="reset()" class="btn">Reset</button>
  <button ng-click="save(customer)" class="btn btn-primary">Speichern</button>
</form>
