<div ng-include src="'partials/navbar.html'"></div>

<form novalidate class="form-horizontal">
  <fieldset>
    <legend>Allgemeine Daten zum Messkonzept</legend>
    <div class="form-group">
      <label class="col-lg-2 control-label" for="name">Name des Konzepts</label>
      <div class="col-lg-8">
        <input class="form-control" type="text" id="name" tabIndex="100" ng-model="meteringConcept.name">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label" for="description">Beschreibung</label>
      <div class="col-lg-8">
        <textarea class="form-control" id="description" tabIndex="100" class="form-control" rows="3" ng-model="meteringConcept.description"></textarea>
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label" for="vi">Verantwortlicher Vertriebsingenieur</label>
      <div class="col-lg-8">
        <input class="form-control" type="text" id="vi" tabIndex="100" ng-model="meteringConcept.vi">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label" for="createdAt">Erzeugt am</label>
      <div class="col-lg-3">
        <input class="form-control" type="text" id="createdAt" tabIndex="100" ng-model="meteringConcept.createdAt" disabled />
      </div>
    </div>

    <button ng-click="save(meteringConcept)" class="btn btn-primary" tabIndex="100">Speichern</button>
    <button ng-click="reset()" class="btn" tabIndex="100">Reset</button>
  </fieldset>

</form>


<hr />
<pre>form = {{meteringConcept | json}}</pre>
<pre>master = {{master | json}}</pre>
