<div ng-include src="'partials/navbar.html'"></div>


<form name="form">
  <fieldset>

    <legend>Etagenliste</legend>

    <div class="well">
      Die hier aufgeführten Etagen können in dem Messkonzept genutzt werden. In der generierten Grafik werden die Etagen von rechts nach links sortiert.
    </div>

    <div class="form-inline pull-right col-lg-2">
      <input type="text" id="search" ng-model="search" class="form-control search-query" placeholder="Search">
    </div>

    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <th width="1em">
            <a href="" tabIndex="-1" ng-click="new(); adding = true"><i class="glyphicon glyphicon-plus-sign"></i></a>
          </th>
          <th>Bezeichnung</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="level in levelList.levels | filter: search"  ng-form="levelForm">
          <td>
            <a href="" tabIndex="-1" ng-click="delete($index)">
              <i class="glyphicon glyphicon-remove"></i>
            </a>
          </td>
          <td ng-class="levelForm.label.$valid ? '' : 'has-error'">
            <input type="text" name="label" class="form-control input-small" ng-model="level.label" required />
            <span class="help-block" ng-show="levelForm.label.$error.required">Die Bezeichnung ist ein Pflichtfeld!</span>
          </td>
        </tr>
        <tr>
          <td>
            <a href="" ng-click="add()"><i class="glyphicon glyphicon-plus-sign"></i></a>
          </td>
          <td>
            <span><input type="text" name="newLevel" ng-model="newLevel.label"/></span>
          </td>
        </tr>
      </tbody>
    </table>

    <button ng-click="update()" class="btn btn-primary" type="submit">Speichern</button>
    <button ng-click="reset()" class="btn">Reset</button>
    <button ng-click="setDefaults()" class="btn">Standardliste laden</button>

  </fieldset>

</form>
