<div ng-include src="'partials/navbar.html'"></div>

<form name="form" novalidate>
  <fieldset>
    <legend>
      Messstellen
      <div id="messageBox" class="label label-success pull-right" ng-show="message">{{message}}</div>
    </legend>

    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <th></th>
          <th>Messstellennummer</th>
          <th>Gerätetyp</th>
          <th>Artikelnummer</th>
          <th>Seriennummer</th>
          <th>Vorgänger (Messstellen)</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <td></td>
          <td ng-class="(newLocation.$errors.number && 'has-error' || '')">
            <input  type="text" class="form-control input-small" tabIndex="200"
                    ng-model="newLocation.number" ui-event="{blur: 'validateNewLocationNumber()'}"/>
            <span class="help-block" ng-show="newLocation.$errors.number">
              <div ng-repeat="error in newLocation.$errors.number">{{error}}</div>
            </span>
          </td>
          <td class="col-lg-1">
            <input  type="text" ng-model="newLocation.type" class="form-control input-small" tabIndex="200"/>
          </td>
          <td class="col-lg-1">
            <input  type="text" ng-model="newLocation.articleNumber" class="form-control input-small" tabIndex="200"/>
          </td>
          <td class="col-lg-1">
            <input  type="text" ng-model="newLocation.serialNumber" class="form-control input-small" tabIndex="200"/>
          </td>
          <td class="col-lg-8">
            <input  type="text" class="form-control input-small" tabIndex="200"
                    ng-keydown="createLocationWithTab($event)"
                    ng-model="newLocation.parents" ng-list />
          </td>
        </tr>
      </tfoot>
      <tbody>
        <tr ng-repeat="location in locations">
          <td>
            <a href="" tabIndex="-1" ng-click="delete($index)">
              <i class="glyphicon glyphicon-remove"></i>
            </a>
          </td>
          <td ng-class="(location.$errors.number && 'has-error' || '')">
            <input  type="text" class="form-control input-small" required tabIndex="100"
                    ng-model="location.number" ui-event="{blur: 'checkNumber(location, $index)'}"/>
            <span class="help-block" ng-show="location.$errors.number">
              <div ng-repeat="error in location.$errors.number">{{error}}</div>
            </span>
          </td>
          <td class="col-lg-1">
            <input  type="text" ng-model="location.type" class="form-control input-small" tabIndex="100"/>
          </td>
          <td class="col-lg-1">
            <input  type="text" ng-model="location.articleNumber" class="form-control input-small" tabIndex="100"/>
          </td>
          <td class="col-lg-1">
            <input  type="text" ng-model="location.serialNumber" class="form-control input-small" tabIndex="100"/>
          </td>
          <td class="col-lg-8" ng-class="((location.missingParents.length > 0) && 'has-error' || '')">
            <input  type="text" class="form-control input-small" tabIndex="100"
                    ng-model="location.parents" ng-model-onblur ng-list
                    ng-change="validateParentLocations(location)" />
            <span class="help-block" ng-show="location.missingParents.length > 0">
              Fehlende Messstellennummern: {{location.missingParents.join(",")}}
            </span>
          </td>
        </tr>
      </tbody>
    </table>

    <button ng-click="update()" class="btn btn-primary" tabIndex="300">Speichern</button>
    <button ng-click="reset()" class="btn" tabIndex="300">Reset</button>
  </fieldset>

</form>

<hr />
<pre>Form = {{locations | json}}</pre>
<pre>Master = {{master | json}}</pre>
