<ul class="nav nav-tabs">
  <li ng-class="{'active': $location.path() == baseUrl }">
    <a href="#{{baseUrl}}" my-accesskey="Alt-A"><em>A</em>llgemein</a>
  </li>
  <li ng-class="{'active': $location.path() == baseUrl + '/customer'}">
    <a href="#{{baseUrl}}/customer" my-accesskey="Alt-K"><em>K</em>unde</a>
  </li>
  <li ng-class="{'active': $location.path() == baseUrl + '/property'}">
    <a href="#{{baseUrl}}/property" my-accesskey="Alt-L"><em>L</em>iegenschaft</a>
  </li>
  <li ng-class="{'active': $location.path() == baseUrl + '/locations'}">
    <a href="#{{baseUrl}}/locations" my-accesskey="Alt-M"><em>M</em>essstellen</a>
  </li>
  <li ng-class="{'active': $location.path() == baseUrl + '/levels'}">
    <a href="#{{baseUrl}}/levels" my-accesskey="Alt-E"><em>E</em>tagen</a>
  </li>
</ul>
