<ul class="nav nav-tabs">
  <li ng-class="{'active': $location.path() == baseUrl }">
    <a href="#{{baseUrl}}" accesskey="a"><em>A</em>llgemein</a>
  </li>
  <li ng-class="{'active': $location.path() == baseUrl + '/customer'}">
    <a href="#{{baseUrl}}/customer" accesskey="k"><em>K</em>unde</a>
  </li>
  <li ng-class="{'active': $location.path() == baseUrl + '/property'}">
    <a href="#{{baseUrl}}/property" accesskey="l"><em>L</em>iegenschaft</a>
  </li>
  <li ng-class="{'active': $location.path() == baseUrl + '/locations'}">
    <a href="#{{baseUrl}}/locations" accesskey="m"><em>M</em>essstellen</a>
  </li>
  <li ng-class="{'active': $location.path() == baseUrl + '/levels'}">
    <a href="#{{baseUrl}}/levels" accesskey="t">E<em>t</em>agen</a>
  </li>
</ul>
