<ul class="nav nav-tabs">
  <li ng-class="{'active': $location.path() == baseUrl }"><a href="#{{baseUrl}}">Allgemein</a></li>
  <li ng-class="{'active': $location.path() == baseUrl + '/customer'}"><a href="#{{baseUrl}}/customer">Kunde</a></li>
  <li ng-class="{'active': $location.path() == baseUrl + '/property'}"><a href="#{{baseUrl}}/property">Liegenschaft</a></li>
  <li ng-class="{'active': $location.path() == baseUrl + '/locations'}"><a href="#{{baseUrl}}/locations">Messstellen</a></li>
  <li ng-class="{'active': $location.path() == baseUrl + '/levels'}"><a href="#{{baseUrl}}/levels">Etagen</a></li>
</ul>
