<div ng-include src="'partials/navbar.html'"></div>

<form novalidate class="form-horizontal">
  <fieldset>
    <legend>Liegenschaftsinformationen</legend>
    <div class="form-group">
      <label class="col-lg-2 control-label" for="property_number">Liegenschaftsnummer</label>
      <div class="col-lg-2">
        <input class="form-control" type="text" id="property_number" placeholder="Liegenschaftsnummer" ng-model="property.number">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label" for="street">Straße und Hausnummer</label>
      <div class="col-lg-8">
        <input class="form-control" type="text" id="street" placeholder="Straße" ng-model="property.street">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label" for="name">Ort</label>
      <div class="col-lg-8">
        <input class="form-control" type="text" id="ort" placeholder="Ort" ng-model="property.city">
      </div>
    </div>

    <button ng-click="save()" class="btn btn-primary">Speichern</button>
    <button ng-click="reset()" class="btn">Reset</button>
  </fieldset>
</form>

<hr />
<pre>form = {{property | json}}</pre>
